.banner {
  display: flex;
  flex-direction: column-reverse;
  padding: 2em 0;
}

.banner__description {
  width: 100%;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.banner__img {
  width: 100%;
}
