#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Syne";
  font-size: 40px;
}

h2 {
  font-family: "Syne";
  font-size: 30px;
}

body {
  font-family: "IBM Plex Sans";
  font-size: 16px;
}

button {
  background-image: linear-gradient(to right, #bfbfff 0%, #8db8f9 100%);
  background-position: left;
  transition: background-position 1s;
  height: 40px;
  border-radius: 20px;
  border: none;
  width: 160px;
  color: black;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to right, #ffbf7f 0%, #f98dbf 100%);
  }
}
