@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
